
<body class="body-formation">
  <div class="hache-title">
    <h1 class="hache-all-formations">All our workshops</h1>
  </div>
  <div class="content-wrapper">
  {{!-- <div class="formations-container"> --}}
  <section class="main_content3">
    {{!-- <div class="single-formation"> --}}
    {{!-- le nom de la variable après le each vient de celui donné dans le render (nos routes)"> --}}
    {{#each categories}}
    {{#compare this.ateliers.length 1 operator=">=" }}
    <section class="bird-shaped-css">
    <div class="skew-container">{{this.label}}
      <div class="skewed-div-left"></div>
      <div class="skewed-div-right"></div>
    </div>
    </section>
    <section class="ateliersbox">
      {{#each this.ateliers}}
      <article class="container3">
        <div class="content3">
          <div class="content-overlay"></div>
          <figure class="img-container"><img class="content-image" src="{{this.avatar}}" alt="{{this.name}}">
          </figure>
          <div class="ateliers-details">
            <h3 class="content-title">{{this.title}}</h3>
            <h4>WHERE?</h4>
            <p>{{this.adress.numero}}, {{this.adress.rue}}</p>
            <p>{{this.adress.code_postale}}, {{this.adress.ville}}</p>
            <h4>WHEN</h4>
            <p id="atelier-date"> {{#formatDate this.date}} {{/formatDate}}</p>
          </div>
          <div class="content-details fadeIn-bottom">
            <p class="content-text">{{this.description}}</p>
            {{!-- {{#unless (preventParticipation this.date)}}
          <a href="/ateliers/participate/{{this._id}}">
            <button class="ateliers-btn">s'inscrire</button>
          </a>
          {{/unless}} --}}
            {{#if (preventParticipation this.date)}}
            <a href="/ateliers/participate/{{this._id}}">
              <button class="ateliers-btn">JOIN</button>
            </a>
            {{/if}}
          </div>
        </div>
      </article>
      {{/each}}

    </section>
    {{/compare }}
    {{/each}}

    {{#unless categories}}
    <h2 class="no-formations">
      No workshops at the moment, come back soon!
    </h2>
    {{/unless}}
    </div>
  {{>_footer}}
</body>
