{{!-- <h1>Toutes les formations</h1>
 <section class="allformations">
     <hr>
     {{#each formations}}
     <figure>
         <title>{{this.title}}</title>
         {{this.image}}
         <figcaption>
         {{this.minidescription}}    
         </figcaption>
     </figure>
     {{/each}}
     {{#unless formations}}
     <h2>
      Il n'y a aucune formation pour le moment
    </h2>
      {{/unless}}
 </section> --}}
<!-- THIS IS GOING TO BE A MAGENTO BUTTON -->
{{!-- {{> nav}} --}}

<body class="body-formation">

  <!--Start of main_content6 -->
  <div class="articles-container">
    <h1> RECENT POSTS </h1>
    <h2>Latest news and updates</h2>
    <section class="articles-wrapper">
      {{#each articles}}
      <article class="article-elements">
        <hgroup>
          <h3 class="article-date">{{#formatSmallDate this.createdAt}} {{/formatSmallDate}}</h3>
          <h3 class="article-title">{{this.title}}</h3>
        </hgroup>
        <div class="article-description">
          <p>{{this.description}}</p>
        </div>
        <hr>
        <div class="article-footer">
          <p>{{this.author}}</p>
          <a href="/articles/one-article/{{this._id}}">lire la suite<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </article>
      {{/each}}

      {{#unless articles}}
      <h2 class="no-formations">
        Il n'y a aucun atelier pour le moment
      </h2>
      {{/unless}}
    </section>
  </div>

  {{!-- {{/each}} --}}

  {{!-- </div> --}}
</body>
{{!html and css from ENSEMBLE for fade in fade out effect}}

{{!css}}
{{!-- .main_content3 {
  flex-direction: row;
  height: 700px;
  /* background: blue; */
}

.main_content3 article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  width: 100%;
  height: 450px;
  margin-bottom: 5em;
}

.main_content3 h4 {
  color: #0e0202;
  letter-spacing: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: larger;
}

.main_content3 p {
  padding: 10px;
  margin: 0px 20px 5px 20px;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: bolder;
  font-family: sans-serif;
  color: #000000e3;
  line-height: 55px;
  text-shadow: 1px 1px whitesmoke;
  text-align: center;
}

.main_content3 span {
  color: #fe3;
  text-shadow: 2px 2px#000000d0;
}


.container3 {
  padding: 1em 0;
  width: 300px;
  height: 500px;
}


.container3 .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content3 {
  position: relative;
  width: 90%;
  height: 500px;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.content3 .content-overlay {
  background: rgba(230, 103, 103, 0.849);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.content3:hover .content-overlay {
  opacity: 1;
}

.content-image {
  max-width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content3:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
} --}}
{{!end }}

{{!box template from ENSEMBLE}}

{{!-- <div class="oneBox">
    <a href="/one-atelier/{{this._id}}" class="formation-wrapper">

	<div class="formationWrapper">
    <div class="product-img">
        <img class="one-image" src="{{this.image}}" alt="{{this.name}}">
    </div>
        <div class="one-hache">
		<h2 class="hache-formations">{{this.title}}</h2>
        </div>
		<button>
			<span>
				<span>
					<span data-attr-span="En savoir plus"></span>
				</span>
			</span>
		</button>
        
	</div>
    </a>
</div>  --}}

{{!html and css for slented div}}

{{!-- <section class="section trois">
  <section class="robertcontainer">
    <figure>
      <img class="robert" src="/images/robert.jpeg" alt="photo de robert isaoni">
    </figure>

    <article class="aboutrobert">

      <p> IAR est un organisme de formation professionalisant pour adultes ou jeunes étudiants en réorientation ou
        professionalisation. Nous proposons plusieurs types de formations. Des formations qui s’attachent à relier les
        apports théoriques, le vécu des stagiaires et apporte une réflexion sur leurs pratiques.</p>

      <p>Notre approche humaine, dynamique, se veut le reflet de notre philosophie et de nos méthodes. Nous voulons que
        ces espaces d’échanges, d’apprentissage et de découverte contribuent à un enrichissement mutuel. Où apprendre
        autrement prend encore une nouvelle dimension</p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, blanditiis vitae! Veritatis iure amet quaerat,
        aliquid praesentium repellendus harum mollitia doloremque quae tempore sed hic sit possimus porro explicabo
        repellat?
      </p>

    </article>
  </section>
</section>

.trois{
	background-image: linear-gradient(45deg, #0077BF, #eaafc8);
	transform: skewY(-11deg);
}

.robertcontainer{
  display: flex;
  /* justify-content: space-around; */
  margin: auto;
  width: 90%;
  padding: 5px;
  padding-top: 8em;
}

} --}}